*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#D7EACC;
}

.img{
position: absolute;
display: inline-block;
left: 15px;
top: 2px;
}


.navbar li{
    float:left;
    list-style:none;
    /* padding: 3px 3px; */
    margin:15px 20px;
}

.navbar{
    background-color: rgba(16, 79, 35, 0.247);
    padding: 0px 116px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding:3px 3px;
    text-decoration:none;
    color:white;
}
.navbar li a:hover{
    color:black;
    text-decoration: underline;

}
.navbar input{
    border: 2px solid black;
border-radius: 14px;
padding: 3px 17px;
width: 140px;
right: 130px;
display: inline-block;
position: relative;

}

.sub-nav{
  /* display: none; */
}
/* .sub-nav:hover{
 
  
} */

.search{
     float:right;
     color:white;
     padding:12px 3px;
}
.login{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 9px;
    padding: 7px 71px;
    
}
.btn{
    font-size: 16px;
}

/* index */

.intro{
    
    border:1px solid black;
    border-radius: 7px;
    margin:95px;
    padding:80px;
    /* background-color: #7ebac5ab; */
    background-image: linear-gradient(to right,rgba(151, 103, 103, 0), rgb(227, 134, 134));
    font-size: 20px;
   font-family: sans-serif,Arial, Helvetica;
   border-color: rgb(151, 210, 95);
   
}
.quote:hover{
    background-color: rgb(166, 65, 65);
}

/* login  */

.wrapper{
    margin-top:100px;
    margin-left:400px;
    margin-bottom: 300px;
    width:500px;
    height:500px;
    background:#dedede;
    border-radius:5px;
    box-sizing: border-box;
}
.heading{
    font-size:40px;
    font-weight:600;
    position: relative;
    top:30px;
    left: 140px;
    color:#2d3436;
}
.google{
    position: relative;
    top: 50px;
    left: 40px;
    height: 50px;
    width:200px;
    background: #dd4b39;
    border-radius:5px;
    display: flex;
    cursor:pointer;
    transition: .5s;
}
.google i{
    line-height: 50px;
    padding:0 20px;
    font-size: 30px;
    color:white;

}
.google p{
    font-size:23px;
    font-weight:600;
    line-height:50px;
    color:white;
}
.google:hover{
    background:#c43321;
    box-shadow: 0px 0px 10px -2px rgba(122, 122, 122,1) ;
}
.facebook{
    top:0;
    left:260px;
    background:#3b5998;

}
.facebook i,.facebook p{
        color:white;

}
.facebook:hover{
    background:#324b81;

}
.login-form{
    padding:20px 40px;
}
.login-form label{
    font-size: 18px;
    margin:5px 0;
    color:#2d3436;

}
.login-form input{
    height:40px;
    width:400px;
    border-radius: 3px;
    outline:none;
    padding: 0 10px;
    font-size: 18px;
    border:1px solid silver;
}
.login-form:focus{
    transition: .3s;
    border: 1px solid #999999;

}
.login-form button{
    margin-top:45px;
    height:50px;
    width:420px;
    font-size:22px;
    font-weight:bold;
    cursor: pointer;
    outline:none;
    color:white;
    border:1px solid #ff2280;
    border-radius:3px;
    background:#ff571a;
    transition: .5s;

}
.login-form button:hover{
    background: #e63d00;
}

/* card  */

/* groceries  */
/* .cards {
    margin:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 282px;

  }
  
  .cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
   
  }
  */

  /* groceries 1 */
  .column {
  float: left;
  width: 24%;
  padding: 8px 0px 0px 6.5px ;
    transition: transform .7s;
}
.column:hover {
  -ms-\transform: scale(1.5);
  -webkit-transform: scale(1.3);
  transform: scale(1.1); 
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 16px 40px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;}


 /* image width height */
.card img{
    width: 120px;
    height: 140px;
}


/* signup */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.contain{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.contain .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contain .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button-2{
   height: 45px;
   margin: 35px 0
 }
 form .button-2 input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button-2 input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.copy{
  border: 1px solid black;
  text-align: center;
  background-color: #c6ebf4;
  text-shadow:#e09c9c;
  font-size: 20px;
}


